.Card {
    display: inline-block;
    perspective: 1000px;
    width: 100px;
    height: 100px;
}

.Card image {
    width: 100px;
    height: 100px;
}

.card--flipped .flipper {
    transform: rotateY(180deg);
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.card-front {
    transform: rotateY(180deg);
}
